@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.about {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  background-image: url(/casulinho.png);
  background-size: 475px;
  background-position: right -130px top 25px;
  background-repeat: no-repeat;
  height: calc(100vh - 115px);
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #edf2f4ca;
}

.about h1, .about h2, .about p {
  z-index: 1;
  color: #32345d;
}

.about h1 {
  font-size: 50px;
  margin: 50px 0 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.about p {
  font-size: 28px;
  max-width: 950px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}

.about p::first-letter {
  margin-left: 15px;
}

@media (max-width: 1104px) {
  .about p {
    max-width: 750px;
  }
}

@media (max-width: 880px) {
  .about h1 {
    font-size: 40px;
  }
  .about p {
    max-width: 600px;
    font-size: 24px;
  }
}

@media (max-width: 880px) {
  .about h1 {
    font-size: 40px;
  }
  .about p {
    max-width: 475px;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .about {
    margin-left: 50px;
  }
  .about h1 {
    font-size: 36px;
  }
  .about p {
    font-size: 22px;
  }
}

@media (max-width: 545px) {
  .about h1 {
    font-size: 32px;
    margin: 25px 0 15px 0;
  }
  .about p {
    max-width: 400px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .about {
    margin-left: 30px;
  }
}

@media (max-width: 444px) {
  .about p {
    max-width: 350px;
    font-size: 18px;
  }
}

@media (max-width: 405px) {
  .about {
    text-align: center
  }

  .about h1 {
    font-size: 28px;
  }
  .about p {
    width: 90%;
    font-size: 18px;
  }
}