@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.cardContainer {
  border-bottom: 2px solid black;
  padding: 8px 8px 15px 8px;
  width: 550px;
  color: #32345d;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.cardContainer img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  margin-right: 15px;
}

.cardContainer h2 {
  font-size: 24px;
}

.cardContainer h3 {
  font-size: 20px;
}

.cardContainer p {
  color: black;
  text-align: justify;
}

@media (max-width: 1360px) {
  .cardContainer {
    width: 350px;
  }
}

@media (max-width: 955px) {
  .cardContainer {
    width: 550px;
  }
}

@media (max-width: 390px) {
  .cardContainer h2 {
    font-size: 20px;
  }

  .cardContainer h3 {
    font-size: 18px
  }

  .cardContainer p {
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .cardContainer img {
    width: 80px;
    height: 80px;
  }
}