.container {
  min-height: calc(100vh - 115px);
  background-image: url('/casulinho.png');
  background-repeat: no-repeat;
  background-position: right -130px top 25px;
  background-size: 475px;
  position: relative;
  background-color: #edf2f4;
  margin-left: 100px;
}

.escrito {
  width: 450px;
  height: auto;
  position: absolute;
  bottom: 100px;
  left: 0;
}

@media (max-width: 950px) {
  /* .container {
    background-size: 375px;
  } */
  .escrito {
    width: 350px;
    /* bottom: 250px; */
  }
}

@media (max-width: 780px) {
  .container {
    background-size: 450px;
  }
  .escrito {
    width: 300px;
  }
}

@media (max-width: 680px) {
  .container {
    background-size: 425px;
  }
  .escrito {
    width: 300px;
  }
}

@media (max-width: 640px) {
  .container {
    background-size: 425px;
    margin-left: 50px;
  }
  .escrito {
    width: 290px;
  }
}

@media (max-width: 560px) {
  .container {
    background-size: 400px;
  }
  .escrito {
    width: 230px;
    bottom: 125px;
  }
}

@media (max-width: 500px) {
  .container {
    background-size: 390px;
  }
  .escrito {
    left: -15px;
    bottom: 125px;
  }
}

@media (max-width: 480px) {
  .container {
    background-size: 380px;
  }
  .escrito {
    left: -15px;
    bottom: 125px;
  }
}

@media (max-width: 450px) {
  .container {
    background-size: 370px;
  }
  .escrito {
    left: -25px;
    bottom: 135px;
  }
}

@media (max-width: 430px) {
  .container {
    background-size: 360px;
  }
  .escrito {
    width: 220px;
    /* bottom: 175px; */
  }
}

@media (max-width: 388px) {
  .escrito {
    width: 210px;
    bottom: 100px;
    left: -35px;
  }
}