.container {
  height: calc(100vh - 115px);
  background-image: url('/casulinho.png');
  background-repeat: no-repeat;
  background-position: right -130px top 25px;
  background-size: 475px;
  position: relative;
  background-color: #edf2f4;
  margin-left: 100px;
}

.escrito {
  width: 450px;
  height: auto;
  position: absolute;
  bottom: 100px;
  left: 0;
}
