.toggler {
  font-size: 28px;
  display: flex;
  align-items: center;
  margin-block: 20px;
  background-color: rgb(50, 52, 93);
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

.toggler:hover {
  background-color: #32345dc8;
}

.setupContainer button:disabled {
  background-color: #5c5c5c;
  cursor: wait;
}